
  <div class="img">
    <a target="blank" href="<%= bookmark.url %>">
      <img src="<%= bookmark.image %>" width="110" height="110">
    </a>
    <div class="desc">
      <small>
        <ul>
         <div class="text"><li>
         <%= bookmark.image_file_name %>
         </li> </div>        
        </ul>
      </small>
    </div> 
  </div>


