<ul class="list-group col-lg-2"> 
  <li class="list-group-item">
    <span class="badge" style="color: #ffb300; background-color: rgba(0, 51, 102, 0.9);">2</span>
    <%= link_to bookmark.url, topic_bookmark_path(bookmark.topic_id, bookmark) %>
  </li>
</ul>
