<div class="row">
  <div class="col-lg-8">
    <h1><%= @topic.title %></h1>
      <%= render partial: 'topics/bookmarks/form', locals: {topic: @topic, bookmark: @bookmark} %>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="row">
  <div class = "col-lg-12">
    <%= render partial: "bookmarks/bookmark", collection: @bookmarks %>
  </div>
</div>