
<div class="row">
  <div class= "col-sm-2 zeropad" >
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#">Public Wikies</a></li>
      <li><a href="#">Private Wikies</a></li>
      <li><a href="#">Create a Wiky</a></li>
    </ul>
  </div>
  <div class= "col-sm-10">
    <div class="list-group">
      <div class="list-group-item">
        <blockquote>
          <p>“Intelligence is not the ability to store information, but to know where to find it.”</p>
          <small>Albert Einstein<cite title="Source Title"></cite></small>
        </blockquote>
        <h3>Featured Articles</h3>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Panel primary</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>

        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Panel success</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
          </div>

        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Panel warning</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
