<div class="jumbotron">
  <h1>Welcome to the wiki application</h1>
  <p>Create public wikies for everyone to see and edit</p>
  <p>For $15 a month become a premium member and allow other users to edit your private wikies</p>
  <p><a href="/charges/new" class="btn btn-primary btn-lg">Sign up for a premium account now</a></p>
</div>