
  <div class="list-group">
    <div class="list-group-item">
      <div class="list-group">
        <div href="#" class="list-group-item">
          <blockquote>
          <p>“Intelligence is not the ability to store information, but to know where to find it.”</p>
          <small>Albert Einstein<cite title="Source Title"></cite></small>
          </blockquote>
        </div>
      </div>
        <div class="list-group">
          <div href="#" class="list-group-item">
            <h1>Featured Wiky</h1>
            <h3><%=  @featured_wiky.title %></h3>
            <%= raw( @featured_wiky.body) %>
          </div>
        </div>
      </div>
  </div>
