<div class="jumbotron">
  <h1>Welcome to the wiki application</h1>
  <p>Create public wikies for everyone to see and edit</p>
  <p>For $15 a month become a premium member and create private wikies for colaborators to see and edit</p>
  <p><a class="btn btn-primary btn-lg">Sign up for a premium account now</a></p>
</div>