<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="home">
    <div class="jumbotron">
      <h1>Welcome</h1>
      <p>This is a collection of all my different projects combined into one</p>
      <p>To navigate through the different applications click on the links above</p>
      <input type="button" onclick="window.open('https://github.com/LuisMenjivar/portfolioapp');" value="Git hub repo" class="btn btn-primary" />
    </div>
  </div>
</div>