<% content_for :content do %>
  <ul class="nav nav-pills">
  <li><a href="">Home <span class="badge"></span></a></li>
  <li><a href="">Home <span class="badge"></span></a></li>
  <li><a href="">Home <span class="badge"></span></a></li>
</ul>
  <div class="row">
    <div class= "col-sm-12">
      <%= content_for?(:product_content) ? yield(:product_content) : yield %>
      <% end %>
    </div>
  </div>  
<%= render template: "layouts/application" %>