<% content_for :content do %>
  <ul class="nav nav-pills">
  <li><a href="topics/home">Home <span class="badge"></span></a></li>
  <li><a href="/topics">Topics<span class="badge"><%= current_user.topics.count if current_user %></span></a></li>
  <li><a href="/bookmarks">Bookmarks<span class="badge"><%= current_user.bookmarks.count if current_user %></span></a></li>
</ul>
  <div class="row">
    <div class= "col-sm-12">
      <%= content_for?(:news_content) ? yield(:news_content) : yield %>
      <% end %>
    </div>
  </div>  
<%= render template: "layouts/application" %>